<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina realizada con el objetivo de aprender un sin nombre de tecnologias las cuales puedan ser utiles ya sea para un futuro cercano o lejano">
    <link rel="canonical" href="http://localhost:3000/"/>
    <link rel='icon' href='favicon.ico' type='./favicon.ico'>
    <link href="./styles.css" rel="stylesheet">
    <title>Mustang Cloud CallengeN°1, Tabla Equipos</title>
</head>
<body>
    <h1 class="color-white flex justify-center text-BIG">Mustang Challenge</h1>
    <h2 class="color-gray flex justify-center">Node.js, Express, Handlebars, MongoDB, Heroku y mas</h2>
    {{{body}}}
</body>
</html>